secret_key_base: <rails secret>

# Encrypt `document`, if the user sets the `secured` flag
message_key: <SecureRandom.base58(32)>

# Access HVDigitalSafe, where the `document` is stored in a secure way
api_key: <provided by HVDigitalSafe application>
base_uri: https://<url to HVDigitalSafe application>

# DB connection
mysql_db: <app>_<environment>
mysql_username: <app>
mysql_password: <MySQL password>

# Better errors - development environment only
trusted_ip: <array of ip's>
