%h1
  = t('.header', default: 'Editing credential')
  %smaller.float-right= link_to t('.actions.new', default: 'New Credential'), new_credential_path, class: 'btn btn-primary'

= render 'form'

= link_to t('.back', default: 'Back'), credentials_path
