%li.nav-item.active
  = link_to t('links.credentials', default: 'Credentials').html_safe, '#', class: 'nav-link'
-#%span.sr-only ' (current)'
%li.nav-item
  = link_to t('links.about', default: 'About').html_safe, '#', class: 'nav-link'
