%li.nav-item.active
  = link_to t('.credentials', default: 'Credentials'), '#', class: 'nav-link'
-#%span.sr-only ' (current)'
%li.nav-item
  = link_to t('.disclaimer', default: 'Disclaimer'), '#', class: 'nav-link'
